{% extends "base.html" %}

{% block title %}Chat room for "{{ course.title }}"{% endblock %}

{% block content %}
    <div id="chat">

    </div>
    <div id="chat-input">
        <input id="chat-message-input" type="text">
        <input id="chat-message-submit" type="submit" value="Send">
    </div>

{% endblock %}

{% block include_js %}
    {{ course.id|json_script:"course-id" }}
{#    this is rendered as-- <script type="application/json" id="course-id">42</script>#}
<!--    The json_script template filter securely encodes Python objects as JSON and safely
        embeds them in a <script> HTML tag, protecting against cross-site scripting (XSS)
        attacks by escaping potentially harmful characters. -->
{% endblock %}

{% block domready %}
    const courseId = JSON.parse(
    document.getElementById('course-id').textContent
    );
    const url = 'ws://' + window.location.host + '/ws/chat/room/' + courseId + '/';
    const chatSocket = new WebSocket(url);
{% endblock %}